<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Result</h2>

    <p>Word: <%= @word %></p>
    <p>Is Palindrome? <%= @result %></p>
  </div>
</div>

